spring:
  datasource:
    url: jdbc:tc:postgresql:15:///testdb
    username: test
    password: test

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false

  liquibase:
    enabled: false

logging:
  level:
    root: WARN
