spring:
  application:
    name: module-4-user-service-api

  profiles:
    active: dev

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_MODULE4_PORT}
    username: ${POSTGRES_MODULE4_USER}
    password: ${POSTGRES_MODULE4_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
