spring:
  application:
    name: module-4-user-service-api

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  datasource:
    url: jdbc:postgresql://${POSTGRES_MODULE4_HOST:localhost}:${POSTGRES_MODULE4_PORT:5433}/${POSTGRES_MODULE4_DB:module4_db}
    username: ${POSTGRES_MODULE4_USER:module4_user}
    password: ${POSTGRES_MODULE4_PASSWORD:module4_password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

app:
  kafka:
    topic: ${USER_EVENTS_TOPIC:user.notifications}
