# IntelliJ IDEA
.idea/
*.iml

# Gradle
.gradle/
**/build/
**/.gradle/

# Wrapper (если не используется)
# gradlew
# gradlew.bat
# gradle/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test reports
**/build/reports/

# Application-specific sensitive configs
src/main/resources/application-*.yml
!src/main/resources/application.yml.env
