services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env

    ports:
      - "${POSTGRES_PORT:-5432}:5432"

    volumes:
      - user_service_pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/00-init.sql:ro

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  user_service_pgdata:
